<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>

    <title>Login page</title>
</head>
<body>
<div  th:if="${param.good}">
    Проверьте письмо на почте
</div>
<div th:if="${param.exist}">
    такой пользователь уже существует
</div>

<form    th:action="@{/registration}" method="post">
    <div class="form-group"><label class=""> email : <input th:required="required" class="form-control" type="email" name="username"/> </label></div>
    <div class="form-group"><label> Password: <input th:required="required" class="form-control" type="password" name="password"/> </label></div>
    <div class="form-group"><label> Name: <input th:required="required" class="form-control" type="text" name="name"/> </label></div>
    <div class="form-group"><label> Last Name: <input th:required="required" class="form-control" type="text" name="lastName"/> </label></div>
    <div class="form-group"><input  class="btn btn-primary" type="checkbox" value="admin" name="role"/></div>
    <div class="form-group"><input class="btn btn-primary" type="submit" value="Sign In"/></div>
</form>
<form th:action="@{/login}" method="get">
    <div class="form-group"><input  class="btn btn-primary" type="submit" value="авторизация"/></div>
</form>

</body>
</html>